html, body {
    margin: 0;
    overflow: hidden;
}

IKUYO-ENGINE {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    overflow: hidden;
}

layer {
    width: 100%;
    height: 100%;
    justify-content: center;
}

button {
    width: 100%;
    height: 100%;
    border: none;
    background: none;
}

#column {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
}