html, body {
    margin: 0;
    overflow: hidden;
}

IKUYO-ENGINE {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
}

layer {
    width: 100%;
    height: 100%;
    justify-content: center;
}

button {
    width: 100%;
    height: 100%;
    border: none;
}

#column {
    display: flex;
    flex-direction: column;
}

#row {
    display: flex;
    flex-direction: row;
}

/* Custom Style */

.note-area {
    position: absolute;
    width: 25rem;
    height: calc(100% - 5rem);
    margin: 0 0 5rem 0;
    left: 10rem;
}

.note-display {
    width: 25rem;
    height: calc(100% - 3rem);
}

.input-area {
    width: 25rem;
    height: 3rem;
}

.input-area button {
    width: calc(100% - 0.1rem);
    height: 100%;
    margin: 0 0.2rem;
    border-radius: 4px;
}